.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  margin: 0;
  padding: 0;
}

.text-type__cursor {
  margin-left: 0.1rem;
  display: inline-block;
  opacity: 1;
  font-weight: 100;
  color: inherit;
}

.text-type__cursor--hidden {
  display: none;
}
